@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#header-container{
    background: #000000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
#header-container header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
#header-container header #profile a{
    font-family: 'Poppins', sans-serif;
    font-size: 35px ;
    color: #4200FF;
    text-decoration: none;
}
#header-container header ul{
    display: flex;
    list-style: none;
}
#header-container header nav ul li a{
    text-align: center;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
#header-container header nav ul li a:hover{
    color: #4200FF;
}
#nav-responsive{
    background-color:transparent;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
#home{
    background: linear-gradient(to top, #191919,#191919,#000000);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    
}
#home #content-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
#home #content-banner img{
    margin-top: 40px;
    border: 5px double #4200FF;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 5%;
}
#home #content-banner h1{
    font-size: 30px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}
#home #content-banner h2{
    font-size: 15px;
    font-weight: normal;
}
#home #content-banner #social a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5%;
    width: 30px;
    height: 30x;
    line-height: 30px;
    margin: 30px 5px;
    font-size: 20px;
    transition: .3s;
}
#home #content-banner #social a:hover{
    background-color: #4200FF;
}
#about-me{
    background-color: #191919;
    color: #fff;
    padding: 50px 20px;
}
#about-me #content-section{
    max-width: 1100px;
    margin:auto;
}
#about-me h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
}
#about-me #content-section p{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 30px;
}
#about-me #content-section p span{
    color: #4200FF;
    font-weight: bold;
}
#about-me #info{
    display: flex;
}
#about-me #info #personal-info #Interest{
    width: 50%;
}
#about-me #info h3{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}
#about-me #info #personal-info ul{
    list-style: none;
}
#about-me #info #personal-info ul li{
    margin: 12px 0;
}
#about-me #info #personal-info ul li strong{
    display: inline-block;
    color: #4200FF;
    width: 100px;
}
#about-me #info #personal-info ul li span{
    color: #4200FF;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
#about-me #info #Interest #interest-container{
    display:flex;
    flex-wrap: wrap;

}
#about-me #info #Interest h3{
   margin: 0px 0px 0px 25px;
   text-align: center;
}
#about-me #info #Interest #interest-container #interest{
    width: 120px;
    height: 120px;
    background-color:#191919 ;
    border-radius: 10%;
    margin: 15px 15px 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s;
}
#about-me #info #Interest #interest-container #interest:hover{
    background-color: #4200FF;
}
#about-me #info #Interest #interest-container #interest i{
    font-size: 25px;
    margin-bottom: 10px;
}
#about-me button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 3%;
    width: fit-content;
    display: block;
    margin: 50px 50px 50px 50px;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
#about-me button a{
    color: #fff;
    text-decoration: none;
}
#about-me button #overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: #4200FF;
    border-radius: 5%;
    z-index: -1;
    transition: 1s;
}
#about-me button:hover #overlay{
    width: 100%;
}
/*Skills Section*/
#skills{
    background-color: #191919;
    color: #fff;
    padding: 50px 20px;
}
#skills #content-section{
    max-width: 1100px;
    margin:auto;
}
#skills h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
}
#skills #row{
    display: flex;
}
#skills #row #col{
    width: 50%;
    padding: 0 20px;
}
#skills #row #col h3{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}
#skills #skills > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
#skills #skills #progress-bar{
    height: 10px;
    width: 100%;
    background-color: #1e2326;
    position: relative;
    margin-bottom: 30px;
}
#skills #skills #progress{
    background-color: #4200FF;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
}
#skills #skills #progress-bar span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #4200FF;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
#skills .C{
    width: 0%;
    animation: 2s C forwards;
}
@keyframes C{
    0%{width: 0%;}
    100%{width: 80%;}
}
#skills #skills .java{
    width: 0%;
    animation: 2s java forwards;
}
@keyframes java{
    0%{width: 0%;}
    100%{width: 60%;}
}
#skills #skills .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python{
    0%{width: 0%;}
    100%{width: 60%;}
}
#skills #skills .sql{
    width: 0%;
    animation: 2s sql forwards;
}
@keyframes sql{
    0%{width: 0%;}
    100%{width: 80%;}
}
#skills #skills .html{
    width: 0%;
    animation: 2s html forwards;
}
@keyframes html{
    0%{width: 0%;}
    100%{width: 60%;}
}
#skills #skills .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 60%;}
}
#skills #skills .liderazgo{
    width: 0%;
    animation: 2s liderazgo forwards;
}
@keyframes liderazgo{
    0%{width: 0%;}
    100%{width: 90%;}
}
#skills #skills .equipo{
    width: 0%;
    animation: 2s equipo forwards;
}
@keyframes equipo{
    0%{width: 0%;}
    100%{width: 100%;}
}
#skills #skills .responsabilidad{
    width: 0%;
    animation: 2s responsabilidad forwards;
}
@keyframes responsabilidad{
    0%{width: 0%;}
    100%{width: 100%;}
}
#skills #skills .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 90%;}
}
#skills #skills .perseverancia{
    width: 0%;
    animation: 2s perseverancia forwards;
}
@keyframes perseverancia{
    0%{width: 0%;}
    100%{width: 100%;}
}
#skills #skills .inteligencia{
    width: 0%;
    animation: 2s inteligencia forwards;
}
@keyframes inteligencia{
    0%{width: 0%;}
    100%{width: 90%;}
}
#skills #skills .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad{
    0%{width: 0%;}
    100%{width: 80%;}
}
/*Section Education*/
#education{
    background-color: #191919;
    color: #fff;
    padding: 50px 20px;
}
#education #content-section {
    max-width: 1100px;
    margin:auto;
}
#education #content-section h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0 0 0 20px;
}
#education #row{
    display: flex;
}
#education #row #col{
    width: 50%;
}
#education #row #col h3{
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    margin-top: 30px;
}
#education #row #col ul{
    list-style: none;
}
#education #row #col ul li{
    text-align: justify;
    margin: 15px 0 0 15px;
    font-size: 20px;
}
#education #row #col ul li strong{
    font-size:  25px;
    font-weight: bold;
    display: inline-block;
    color: #4200FF;
    width: 100%;
}
#education #row #col ul li b a{
    color: #4200FF;
    text-decoration: none;
}
#education #row #col ul li b{
    color: #4200FF;
}
#portfolio{
    background-color: #191919;
    color: #fff;
    padding: 50px 20px;
}
#portfolio #content-section{
    max-width: 1100px;
    margin:auto;
}
#portfolio h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
}
#portfolio #gallery{
   display: flex;
   position: relative;
   max-width: 200px;
   height: fit-content;
   margin: 10px;
   cursor: pointer;
   background: #1e2326;
   border-radius: 10%;
}
#portfolio #gallery:hover{
    transform: translateY(-3%);
}
#portfolio #gallery img{
    width: 100%;
    display: block;
}
#portfolio #gallery #description{
    position: absolute;
    border-radius: 10%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(66,0,255,0.5),rgba(66,0,255,0.5));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    opacity: 0;
}
#portfolio #gallery #description h3{
    margin-bottom: 20px;
    transition: 1s;
}
#portfolio #gallery #description:hover{
    opacity: 1;
}
#portfolio #gallery #description:hover h3{
    margin-bottom: 0;
}
#contact{
    background-color: #191919;
    color: #fff;
    padding: 50px 20px;
}
#contact #content-section {
    max-width: 1100px;
    margin:auto;
}
#contact #content-section h2{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0 0 0 20px;
}
#contact #text-me{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
#contact #text-me input, #contact #text-me textarea{
    display: block;
    width: 100%;
    padding: 20px;
    border: none;
    margin-bottom: 20px;
    background-color: #191919;
    color: #fff;
    font-size: 20px;
}
#contact button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 3%;
    display: block;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
#contact button #overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: #4200FF;
    border-radius: 5%;
    z-index: -1;
    transition: 1s;
}
#contact button:hover #overlay{
    width: 100%;
}
footer{
    background-color: #191919;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding: 50px 0 30px 0;
    position: relative;
}
#footer a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #4200FF;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;

}
@media screen and (max-width:980px){
    nav{
        display: none;

    }
    #nav-responsive{
        display: block;
    }
    nav #nav-responsive ul{
        display: block !important;
    }    
    nav #nav-responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;

    }
}
@media screen and (max-width:700px) {
    #about-me #info{
        display: block;
    }
    #about-me #info #personal-info #Interest{
        width: fit-content;
    }
    #skills #row{
        display: block;
    }
    #skills #row #col{
        width: 100%;
    }
    #skills #row #col #progress-bar{
        width: 100%;
    }
    #education #row{
        display: block;
    }
    #education #row #col{
        width: 90%;
        margin-left: 20px;
    }
    
    #portfolio #gallery{
        display: block;
        width: 100%;
    }
    #portfolio #gallery img{
        width: 100%;
    }
}
